<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Bowling Alley</title>
    <meta name="description" content="">
  </head>
  <body>
  <h1>Buster's Best Bowling Alley</h1>
  <h2>Bet You Can't Bowl A Strike Every Time</h2>
  <p>97 Bowling Alley Lane, Boulder CO </p>
    <h2>Hours</h2>
      <ol>Monday</ol>
      <ol>Tuesday</ol>
      <ol>Wednesday</ol>
      <ol>Thursday</ol>
      <ol>Friday</ol>
      <ol>Saturday</ol>
      <ol>Sunday</ol>
    <h2>Tournament Dates</h2>
      <h3>
        <ol>July</ol>
        <ol>August</ol>
        <ol>September</ol>
      </h3>
    <h2>Bar Menu</h2>
      <h3>Food</h3>
        <ol>Burger</ol>
        <ol>Tacos</ol>
        <ol>Burrito</ol>
      <h3>Drinks</h3>
        <ol>Beer</ol>
        <ol>Wine</ol>
        <ol>Soda</ol>
    <h2>Reservations</h2>
      <h3>Reservations available</h3>
  </body>
</html>